{% extends 'nss/base.html' %}
{% block content %}
<style>
    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    select,
    input[type="file"] {
        width: calc(100% - 22px); /* Adjusting for padding */
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
    }

    input[type="submit"],
    input[type="reset"] {
        width: 49%;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {
        background-color: #0056b3;
    }
</style>

<form method="post" action="{% url 'event_photos' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="event_name">Event:</label>
    <select id="event_name" name="event_name">
        <option value="" disabled selected>----</option>
        {% for i in even %}
        <option value="{{ i.event_name }}">{{ i.event_name }}</option>
        {% endfor %}
    </select>

    <label for="photo">Image:</label>
    <input type="file" id="photo" name="photo"> 

    <input type="submit" value="Upload">
    <input type="reset" value="Reset">
</form>
{% endblock %}
