{% extends 'nss/base.html' %}
{% block content %}
    <form method="post" action="{% url 'event' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="event_name">Event:</label><br>
        <input type="text" id="event_name" name="event_name"><br><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br><br>
        <label for="start_time">From </label>
        <input type="time" id="start_time" name="start_time">
        <label for="end_time">to</label>
        <input type="time" id="end_time" name="end_time"><br>
        <label for="des">Description</label><br>
        <textarea id="des" name="des"></textarea><br><br>
        <label for="photo">Choose a Image:</label>
        <input type="file" id="photo" name="photo">
        <input type="submit">
    </form>
{% endblock %}