{% extends 'nss/base.html'%}
{% block title %}
    attendance
{% endblock%}
{% block content %}
    <form method="post" action="{% url 'attendance'%}">
        {% csrf_token %}
    <label for="event">Event:</label>
    <input type="text" id="event" name="event">
    <br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <br>
    CS
    <br>
        {% for i in roll %}
            {%if i.dep_name == "ComputerScience"%} 
                <input type=checkbox id="roll_no" name="roll_no" value="{{i.roll_no}}_ComputerScience">
                <label for="roll_no">{{i.roll_no}}</label>
            {% endif %}
        {% endfor %}
    <br>
    Maths
    <br>
        {% for i in roll %}
            {%if i.dep_name == "Maths"%} 
                <input type=checkbox id="roll_no" name="roll_no" value="{{i.roll_no}}_Maths">
                <label for="roll_no">{{i.roll_no}}</label>
            {% endif %}
        {% endfor %}
    <input type="submit">
</form>
{% endblock%}