<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
 
form {
    text-align: left;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
    </style>
</head>
<body>
    <div>
    <form method="post" action="{% url 'add_volunteer' %}" align="center">
        <fieldset>
            <legend><b>Volunteer Details</b></legend>
        {% csrf_token %}
        <label for="name">Name:</label>
        <br>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="guard_name">Fathers/Guardian Name:</label>
        <br>
        <input type="text" id="guard_name" name="guard_name">
        <br><br>
        <label for="guard_mob_no">Fathers/Guardian Mobile-No:</label>
        <br>
        <input type="number" id="guard_mob_no" name="guard_mob_no">
        <br><br>
        Sex:
        <br>
        <input type="radio" id="sex" name="sex" value="male">
        <label for="sex">male</label>
        <input type="radio" id="sex" name="sex" value="female">
        <label for="sex">female</label>
        <br><br>
        <label for="dob">Date of Birth:</label>
        <br>
        <input type="date" id="dob" name="dob">
        <br><br>
        <label for="department">Department:</label>
        <select id="department" name="department">
            <option>ComputerScience</option>
            <option>Maths</option>
            <option>Statistics</option>
            <option>commerce</option>
            <option>Chemistry</option>
            <option>Botany</option>
            <option>Economics</option>
            <option>History</option>
            <option>Malayalam</option>
        </select>
        <label for="year">Year:</label>
        <select id="year" name="year">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <br><br>
        Community:
        <input type="radio" id="community" name="community" value="General">
        <label for="community">General</label>
        <input type="radio" id="community" name="community" value="SC">
        <label for="Comm">SC</label>
        <input type="radio" id="community" name="community" value="ST">
        <label for="community">ST</label>
        <input type="radio" id="community" name="community" value="OBC">
        <label for="community">OBC</label>
        <br><br>
        <label for="address">Address:</label>
        <br>
        <textarea id="address" rows="5" cols="25" name="address"></textarea>
        <br><br>
        <label for="blood_group">Blood Group:</label>
        <br>
        <input type="text" id="blood_group" name="blood_group">
        <br><br>
        <label for="height">height(in cm)</label>
        <br>
        <input type="number" id="height" name="height">
        <br><br>
        <label for="weight">weight(in kg)</label>
        <br>
        <input type="number" id="weight" name="weight">
        <br><br>
        <label for="mobile_no">Mobile-No:</label>
        <br>
        <input type="number" id="mobile_no" name="mobile_no" pattern="\d{10}">
        <br><br>
        <label for="Email_id">Email:</label>
        <br>
        <input type="email" id="Email_id" name="Email_id">
        <br><br>
        <label for="year_of_enrollment">Year of Enrollment:</label>
        <br>
        <input type="number" id="year_of_enrollment" name="year_of_enrollment">
        <br><br>
        <label for="roll_no">Roll_no</label>
        <br>
        <input type="number" id="roll_no" name="roll_no">
        <br><br>
        <label for="cultural_talents">Cultural talents:</label>
        <br>
        <textarea id="cultural_talents" rows="5" name="cultural_talents">
        </textarea>
        <br><br>
        <label for="hobbies">Hobbies:</label>
        <br>
        <textarea id="hobbies" rows="5" name="hobbies">
        </textarea>
        <br><br>
        <input type="submit">
        </fieldset>
    </form>
</div>
</body>
</html>