{% extends 'nss/base.html' %}

{% block title %}
    view_volunteer
{% endblock %}

{% block content %}
    <table border="1" cellspacing="0">
        <tr>
            <th>Name:</th>
            <th colspan="2">Programme:</th>
        </tr>
        
        {% for i in volunteer %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.program.program_name}}</td>
            <td><a href="{% url 'volunteer_details' i.volunteer_id %}" style="color: blue; text-decoration: underline;">more</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
